<div class="row">
  <%  @hotels.each do |hotel| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2><%= link_to hotel.name, hotel_path(hotel) %></h2>
        </div>
        <div class="panel-body">
          <p>Address: <%= hotel.address %></p>
          <p>Number of stars: <%= hotel.rank %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>





