<h1>Hotels#index</h1>
<p>Find me in app/views/hotels/index.html.erb</p>

<%= link_to 'New Hotel', new_hotel_path %>

<ul>
  <%  @hotels.each do |hotel| %>
    <li>
      <%= link_to hotel.name, hotel_path(hotel) %>
      <%= hotel.address %>
      <%= hotel.rank %>
    </li>
  <% end %>
</ul>




